.Form {
  width: 25%;
  height: 50vh;
  margin: 50px auto;
  box-shadow: 3px 4px 8px #eee;
  border: 1px solid rgba(204, 204, 204, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.btn {
  width: 80%;
  height: 45%;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 10px;
}

.Title {
  margin-top: 10%;
  text-align: center;
}

@media (max-width: 500px) {
  .Form {
    width: 80%;
  }
  .Btn {
    font-size: 24px;
  }
  .Title {
    font-size: 26px;
    margin-top: 25%;
  }
}
